- title "Task"

%p
  %strong Item:
  = @task.item
%p
  %strong Description:
  = @task.description

%p
  = link_to "Edit", edit_task_path(@task)
  |
  = link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", tasks_path
